asgiref==3.7.2
beautifulsoup4==4.12.2
Brotli==1.1.0
certifi==2023.7.22
charset-normalizer==3.2.0
dj-database-url==2.1.0
Django==4.2.5
django-bootstrap4==23.2
django-stdimage==6.0.1
gunicorn==21.2.0
idna==3.4
packaging==23.1
Pillow==10.0.1
psycopg2-binary==2.9.7
PyMySQL==1.1.0
requests==2.31.0
soupsieve==2.5
sqlparse==0.4.4
typing_extensions==4.7.1
urllib3==2.0.5
whitenoise==6.5.0
