{% load bootstrap4 %}
<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <title>Index</title>
        {% bootstrap_css %}
    </head>
    <body>
        <div class="container">
            <h2>Quer criar uma conta?</h2>
            <a href="{% url 'register' %}">Venha por aqui!</a>
            <h2>Já tem uma conta?</h2>
            <a href="{% url 'login' %}">Vamos logar!</a>
            <h2>Já está logado?</h2>
            <a href="{% url 'redirect_proxy' %}">Ir para o proxy!</a>
            <h2>Adicionar palavras proibidas?</h2>
            <a href="{% url 'cursed_word' %}">Vamos lá!</a>
            <h2>Quer ver suas palavras proibidas?</h2>
            <a href="{% url 'list_words' %}">Ver!</a>
        </div>
    {% bootstrap_javascript jquery='full' %}
    </body>
</html>